html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f9;
  padding: 0;
  margin: 0;
}

body.active {
  overflow-y: hidden;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-left: 12px;
  filter: drop-shadow(0 0 0.75rem rgb(107, 107, 107));
}

.navlinks {
  display: flex;
}

.navlinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navlinks ul li {
  display: block;
  padding: 1rem;
}

.navlinks ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #344563;
  text-decoration: none;
}

.navbrand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative;
  right: 160px;
  padding: 10px, 12px;
  color: #6070ffe5;
}

.menubtn {
  display: none;
  padding: 8px;
  margin-right: 15px;
}

.close-menubtn {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    position: none;
    filter: none;
  }

  .menubtn {
    display: block;
  }

  .menubtn.deactive {
    display: none;
  }

  .close-menubtn {
    position: relative;
    left: 150px;
    top: 1rem;
    margin: 1rem;
  }

  .navbrand {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    position: relative;
    left: 20px;
    padding: 10px, 12px;
    color: #6070ffe5;
  }

  .close-menubtn.active {
    display: block;
    position: relative;
    left: 310px;
    top: 1rem;
    margin: 1rem;
  }

  .navlinks {
    position: fixed;
    display: none;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgba(98, 114, 255, 0.8);
    backdrop-filter: blur(1px);
  }

  .navlinks.active {
    display: block;
  }

  .navlinks ul {
    list-style: none;
  }

  .navlinks ul li {
    text-align: start;
  }

  .navlinks ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    text-decoration: none;
  }
}

.mainmenu {
  height: 878px;
  background-color: white;
  background-image: url(https://cdn.discordapp.com/attachments/955344972939419679/1131570253491617873/Header_bg2x.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: start;
  padding: 5% 15%;
  margin-top: 60px;
}

.header-text-wrap {
  margin-left: 50px;
}

.mainmenu-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: start;
}

.mainmenu-p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  max-width: 80ch;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: start;
}

.letsconnect-links {
  margin-top: 22px;
}

#icon-links {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .mainmenu {
    height: 718px;
    background-color: white;
    background-image: url(https://cdn.discordapp.com/attachments/955344972939419679/1133367153580589067/header-shapesmobile.png);
    background-size: 100%;
    background-position: center;
    border-radius: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: start;
    padding: 10px;
    margin-top: 40px;
  }

  .header-text-wrap {
    margin-left: 20px;
  }

  .letsconnect-img {
    width: 120px;
  }
}
